.container{
    display: flex;
    flex-direction: column;
}
.container .sidebar{
    flex: 1;
    color: white;
    background-color: rgb(34, 92, 252);
}
.container .main{
    flex: 5;
    flex-direction: row;
}
.container .main .body{
    flex: 6;
    background-color: rgb(164, 164, 164);
    color: black;
}
